aside.chat
  .chat--copy
    :marked
      ### Need a little help?

      You can get support and updates in our Gitter chat room

  .chat--cta
    a.button(href='//gitter.im/zunit-zsh/zunit') Join the Conversation
