footer.bottom
  .molovo
    a(href='//molovo.co')
      include /icons/_molovo.svg
    span
      :marked
        Made with ♥, by [molovo](//molovo.co)

  .bottom--copyright
    a(href='https://heapanalytics.com/?utm_source=badge' rel="nofollow")
      img(style='width:108px;height:41px' src='//heapanalytics.com/img/badge.png' alt='Heap | Mobile and Web Analytics')
    p &copy; 2017 James Dinsdale
