footer.bottom
  .bottom--branding
    a(href=baseUrl)
      img(src=baseUrl + '/img/logo-mark-white.svg' class='bottom--branding-logo' alt='ZUnit | A powerful testing framework for ZSH projects')

  .bottom--docs
    div
      h4 Getting Started

      ul.nav--docs-getting-started

    div
      h4 Writing Tests

      ul.nav--docs-writing-tests

    div
      h4 Usage

      ul.nav--docs-usage

    div
      h4 Contributing

      ul.nav--docs-contributing

  .bottom--misc
    .bottom--misc-affiliate
      a(href='https://heapanalytics.com/?utm_source=badge' rel='nofollow' target='_blank')
        img(src='https://heapanalytics.com/img/badge.png' alt='Heap | Mobile and Web Analytics')
      a(href='https://www.netlify.com' rel='nofollow' target='_blank')
        img(src='https://www.netlify.com/img/global/badges/netlify-light.svg' alt='Deploys by Netlify')

    .bottom--misc-legal
      :marked
        &copy; 2017 [James Dinsdale](//molovo.co). Released under the [MIT](//choosealicense.com/licenses/mit) license.

      p
        | Made with&nbsp;
        include /icons/_heart.svg
        | in Southsea, UK.
