nav.nav--main
  a(href='/' class='nav--main-logo')
    strong ZUnit
    span A powerful testing framework for ZSH projects

  a.nav--main-docs-link(href='/docs') Documentation

  a(href='https://github.com/molovo/zunit') Github

nav.nav--docs
  div
    h4 Getting Started

    ul.nav--docs-getting-started

  div
    h4 Configuration

    ul.nav--docs-configuration

  div
    h4 Writing Tests

    ul.nav--docs-writing-tests

  div
    h4 Command Line Usage

    ul.nav--docs-command-line-usage
