nav.nav--main
  .nav--main-logo
    a(href=baseUrl + '/')
      strong ZUnit
      span A powerful testing framework for ZSH projects

  .nav--main-mobile-nav-link
    a(href='javascript:void()') &#9776;

  .nav--main-links
    a(href=baseUrl + '/docs/getting-started/installation') Install
      span.nav--main-install-version
    a.nav--main-docs-link(href=baseUrl + '/docs') Documentation
    a(href='https://github.com/molovo/zunit') Github

  nav.nav--docs
    div
      h4 Getting Started

      ul.nav--docs-getting-started

    div
      h4 Configuration

      ul.nav--docs-configuration

    div
      h4 Writing Tests

      ul.nav--docs-writing-tests

    div
      h4 Command Line Usage

      ul.nav--docs-command-line-usage

  form.nav--docs-search
    input(type='text' name='search' id='search' placeholder='Search the Docs…')

  ul.nav--docs-search-results
    li
      h3 Test Syntax
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
