---
title: ZUnit Next
date: 2017-03-28 21:00:00
author: molovo
---

extends /layouts/_news

block news-content
  :marked
    I've made quite a few changes recently to make it easier for ZUnit users to get access to bleeding-edge features. From now on, I'll be keeping a `next` branch of the source open, containing the next release of ZUnit, which will be called ZUnit Next. As well as this, accompanying documentation for ZUnit Next will be available at [next.zunit.xyz](https://next.zunit.xyz), as well as instructions for downloading and installing this version of ZUnit.

    If you plan on using ZUnit Next, there may be bugs and/or changes to functionality as the next stable release takes shape. If you do find bugs, please [raise an issue](https://github.com/zunit-zsh/zunit/issues), and be sure to mention that you are using ZUnit Next.
