---
title: Documentation
---

extends /layouts/_docs

block content
  main.docs
    article.docs--content
      h1= post.title

      section
        h4 Getting Started

        ul.nav--docs-getting-started

      section
        h4 Configuration

        ul.nav--docs-configuration

      section
        h4 Writing Tests

        ul.nav--docs-writing-tests

      section
        h4 Command Line Usage

        ul.nav--docs-command-line-usage
