extends layout

block vars
  - var bodyClass = 'page--home'

block content
  .intro
    h1 A powerful testing framework for ZSH projects

    feature.code-window
      :marked
        ```zunit
        #!/usr/bin/env zunit

        @test 'App should run' {
          run my-app

          assert $state equals 0
          assert "$output" same_as "It worked!"
        }
        ```

    .buttons
      a.button(href=baseUrl + '/docs')
        span Read the Documentation
      a.button(href='https://github.com/molovo/zunit')
        span View on Github
