block vars

doctype html
html(lang="en")

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='A powerful testing framework for ZSH projects')
    meta(name='author', content='James Dinsdale')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    - var title = typeof post !== 'undefined' ? post.title + ' | ZUnit' : (title || _path)
    title= title

    link(rel='icon' href='/favicon.ico')
    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Source+Sans+Pro:300,400,700,400i/Source+Code+Pro:400,400i,700')

    != css('/')

  body(class=bodyClass)
    include /includes/_header

    block content

    script(src='/js/main.js')
