.intro
  background-image: linear-gradient(to bottom right, $color-purple-two, $color-purple)
  color: $color-white
  padding: #{8 * $baseline} $baseline #{4 * $baseline}
  position: relative
  margin-top: 0

  &::before
    background: url(/img/polygon-background5.png) bottom center / cover no-repeat
    bottom: 0
    content: ''
    left: 0
    opacity: .7
    position: absolute
    right: 0
    top: 0
    transform: rotate(180deg)
    z-index: 0

  > *
    position: relative
    z-index: 1

  @media (min-width: 32em)
    padding: #{8 * $baseline} #{2 * $baseline} #{4 * $baseline}

  @media (min-width: 42em)
    padding: #{8 * $baseline} 0 #{4 * $baseline}

  h1
    font-weight: 300
    text-align: center

    @media (max-width: 32em)
      font-size: 1.5em

    @media (min-width: 48em)
      padding: 0 #{2 * $baseline}

  pre
    margin: 3em auto
    max-width: 42em

  .buttons
    text-align: center
