// Brand colors
$color-red: #fb757c
$color-pink: #d463a8
$color-purple: #7b3ea3
$color-purple-two: #672492
$color-white: #fff

// Code highlighting colors
$color-black: #2C113D
$color-blue-one: #91c1f8
$color-blue-two: #6f88a5
$color-blue-three: #55606c
$color-green-one: #7beec8
$color-green-two: #42b991

$color-twitter-blue: #1da1f2

$color-molovo-red: #bf616a
$color-molovo-blue: #8fa1b3
