---
title: Installing ZUnit
description: Before you start using ZUnit, you'll first need to install it on your system
seq: 1
---

extends /layouts/_docs

block docs-content
  section
    :marked
      Before you start using ZUnit, you'll first need to install it on your system. There is a growing number of different ways to install ZUnit.

  feature

  section
    :marked
      ### Requirements

      * ZSH 4.3.12+
      * The [color](https://github.com/molovo/color) and [revolver](https://github.com/molovo/revolver) executables.

  feature

  section
    :marked
      ### Installing with [Zulu](https://zulu.sh) (recommended)

      Installing with Zulu will handle building ZUnit from source, and installing all dependencies for you.

  feature.bump
    if baseDomain === 'https://zunit.xyz'
      :marked
        ```bash
        zulu install zunit
        ```
    else
      :marked
        ```bash
        zulu install --branch next zunit
        ```

  section
    :marked
      ### Installing with [zplug](https://github.com/zplug/zplug)

      ZUnit and its dependencies can all be installed with zplug.

  feature.bump
    if baseDomain === 'https://zunit.xyz'
      :marked
        ```bash
        zplug 'molovo/color', \
          as:command, \
          use:'color.zsh', \
          rename-to:color
        zplug 'molovo/revolver', \
          as:command, \
          use:revolver
        zplug 'zunit-zsh/zunit', \
          as:command, \
          use:zunit, \
          hook-build:'./build.zsh'
        ```
    else
      :marked
        ```bash
        zplug 'molovo/color', \
          as:command, \
          use:'color.zsh', \
          rename-to:color
        zplug 'molovo/revolver', \
          as:command, \
          use:revolver
        zplug 'zunit-zsh/zunit', \
          at:next, \
          as:command, \
          use:zunit, \
          hook-build:'./build.zsh'
        ```

  section
    :marked
      ### Installing Manually

      To install manually, install the dependencies, and then download the ZUnit executable straight into your `$path`.

  feature.bump.install--version-instructions
    :marked
      ```bash
      # Install color and revolver
      curl -L https://raw.githubusercontent.com/molovo/revolver/master/revolver > /usr/local/bin/revolver
      curl -L https://raw.githubusercontent.com/molovo/color/master/color.zsh > /usr/local/bin/color

      # Install ZUnit into $path
      curl -L https://github.com/zunit-zsh/zunit/releases/download/__version__/zunit > /usr/local/bin/zunit

      # Optional, install ZUnit ZSH completion into $fpath
      curl -L https://github.com/zunit-zsh/zunit/releases/download/__version__/zunit.zsh-completion > "${fpath[1]}/_zunit"
      ```

  section
    :marked
      ### Building From Source

      To build ZUnit from source, once you've installed the dependencies just clone the [git repository](https://github.com/zunit-zsh/zunit) and run the included `build.zsh` script. Once done, copy the `zunit` executable to somewhere in your `$path`.

  feature.bump
    if baseDomain === 'https://zunit.xyz'
      :marked
        ```bash
        # Install color and revolver
        curl -L https://raw.githubusercontent.com/molovo/revolver/master/revolver > /usr/local/bin/revolver
        curl -L https://raw.githubusercontent.com/molovo/color/master/color.zsh > /usr/local/bin/color

        # Build ZUnit from source
        git clone https://github.com/zunit-zsh/zunit
        cd zunit
        ./build.zsh

        # Copy zunit into $path
        cp zunit /usr/local/bin

        # Optional, copy ZUnit ZSH completion into $fpath
        cp zunit.zsh-completion "${fpath[1]}/_zunit"
        ```
    else
      :marked
        ```bash
        # Install color and revolver
        curl -L https://raw.githubusercontent.com/molovo/revolver/master/revolver > /usr/local/bin/revolver
        curl -L https://raw.githubusercontent.com/molovo/color/master/color.zsh > /usr/local/bin/color

        # Build ZUnit from source
        git clone https://github.com/zunit-zsh/zunit
        cd zunit
        git checkout next
        ./build.zsh

        # Copy zunit into $path
        cp zunit /usr/local/bin

        # Optional, copy ZUnit ZSH completion into $fpath
        cp zunit.zsh-completion "${fpath[1]}/_zunit"
        ```
