---
title: Installation
seq: 1
---

extends /layouts/_docs

block docs-content
  section
    :marked
      ### Requirements

      * ZSH 4.3.12+
      * The [color](https://github.com/molovo/color) and [revolver](https://github.com/molovo/revolver) executables.

  feature

  section
    :marked
      ### Installing with [Zulu](https://zulu.sh) (recommended)

      Installing with Zulu will handle building ZUnit from source, and installing all dependencies for you.

  feature.bump
    :marked
      ```bash
      zulu install zunit
      ```

  section
    :marked
      ### Installing with [zplug](https://github.com/zplug/zplug)

      ZUnit and its dependencies can all be installed with zplug.

  feature.bump
    :marked
      ```bash
      zplug 'molovo/color', \
        as:command, \
        use:'color.zsh', \
        rename-to:color
      zplug 'molovo/revolver', \
        as:command, \
        use:revolver
      zplug 'molovo/zunit', \
        as:command, \
        use:zunit, \
        hook-build:'./build.zsh'
      ```

  section
    :marked
      ### Installing Manually

      To install manually, just clone the ZUnit source code and build the executable. Once done, copy the `zunit` executable to somewhere in your `$path`.

  feature.bump
    :marked
      ```bash
      # Install color and revolver
      curl -L https://raw.githubusercontent.com/molovo/revolver/master/revolver > /usr/local/bin/revolver
      curl -L https://raw.githubusercontent.com/molovo/color/master/color.zsh > /usr/local/bin/color

      # Build ZUnit from source
      git clone https://github.com/molovo/zunit
      cd zunit
      ./build.zsh

      # Copy zunit into $PATH
      cp zunit /usr/local/bin
      ```
