---
title: Requirements
seq: 0
---

extends /layouts/_docs

block docs-content
  :marked
    * ZSH 4.3.12+
    * The [color](https://github.com/molovo/color) and [revolver](https://github.com/molovo/revolver) executables. (The Zulu installation method will install these for you).
