---
title: Setup and Teardown
seq: 2
---

extends /layouts/_docs

block docs-content
  section
    :marked
      ZUnit allows you to specify @setup and @teardown functions within your test files, which will be run before and after each test in the file.

  feature

  section
    :marked
      ### @setup

      The `@setup` method is run before each test, and can be used to set environment variables, define functions, or load scripts.

  feature.bump
    :marked
      ```zunit
      @setup {
        load some-setup-script
      }
      ```

  section
    :marked
      ### @setup

      The `@teardown` method is run after each test, and can be used to clean up the environment after a test has finished running.

  feature
    :marked
      ```zunit
      @teardown {
        rm some-generated-file
      }
      ```
