.button
  background: $color-pink
  border-radius: .15em
  color: $color-white
  display: inline-block
  font-size: .75em
  padding: #{.25 * $baseline} #{.5 * $baseline}
  position: relative
  transition: background .25s

  &:hover
    background: $color-red
    text-decoration: none

  @media (min-width: 32em)
    font-size: 1em
    padding: #{.5 * $baseline} $baseline
