.nav--main
  -webkit-font-smoothing: antialiased
  align-items: center
  background-image: linear-gradient(to bottom right, $color-purple-two, $color-purple)
  box-shadow: 0 3px 5px rgba($color-black, .3)
  display: flex
  flex-wrap: wrap
  font-smoothing: antialiased
  justify-content: space-between
  padding: 0 $baseline
  position: fixed
  top: 0
  transition: background-image .25s
  width: 100%
  z-index: 999

  .search--open &
    background-image: linear-gradient(to bottom right, darken($color-purple-two, 20%), darken($color-purple, 20%))

  body:not(.page--home) &,
  .page--home.scrolled &,
  .page--home.docs--open &
    > *
      position: relative
      z-index: 1

    &::after
      background: url('/img/polygon-background5.png') bottom center / cover no-repeat
      bottom: 0
      content: ''
      left: 0
      opacity: .7
      pointer-events: none
      position: absolute
      right: 0
      top: 0
      transition: background-color .25s
      transform: rotate(180deg)
      z-index: 0

  .page--home:not(.scrolled):not(.docs--open) &
    background: transparent
    box-shadow: none
    color: $color-black

  &::before
    background: url('/img/logo-mark.svg') right center / contain no-repeat
    content: ''
    height: 1em
    left: 1.5em
    position: absolute
    top: 1em
    transform: translateX(-100%) translateX(-.125em)
    transition: height .25s, top .25s, width .25s
    width: 1em
    z-index: 1

    .docs--open &
      top: 3.25em

    @media (min-width: 32em)
      height: 1.5em
      left: 3em
      top: .75em
      transform: translateX(-100%) translateX(-.375em)
      width: 1.5em

      .docs--open &
        top: 3em

    @media (min-width: 50em)
      height: 3em
      top: 2.25em
      width: 3em

      .docs--open &
        top: 2.25em

      .scrolled:not(.docs--open) &
        height: 1.5em
        top: .75em
        width: 1.5em

    @media (min-width: 64em)
      left: 6em

  @media (min-width: 32em)
    padding: 0 #{2 * $baseline}

  @media (min-width: 50em)
    & + *
      margin-top: 6em

  @media (min-width: 64em)
    padding: 0 #{4 * $baseline}

  a
    color: $color-white

  &-mobile-nav-link
    display: inline
    padding: #{.5 * $baseline} 0


    @media (min-width: 50em)
      display: none

  &-install-version
    font-weight: 700
    margin-left: .5ch

  &-logo,
  &-links
    height: auto
    transition: padding .25s
    will-change: padding

    @media (min-width: 50em)
      padding: #{2 * $baseline} 0

  &-links
    display: none

    a
      &:not(:first-of-type)
        margin-left: $baseline

    .docs--open &
      padding: #{.5 * $baseline} 0

    @media (min-width: 50em)
      display: block

    @media (max-width: 50em)
      flex: 0 0 100%

  &-logo
    flex: 1 1 50%

    a
      color: $color-white

    .docs--open &
      padding: #{2 * $baseline} 0

    @media (max-width: 50em)
      .docs--open &
        padding-right: 3em

    strong
      display: inline-block
      font-size: 1.5em
      line-height: #{(1 / 1.5) * $baseline}
      top: #{(-.5 / 1.5) * $baseline}

    span
      @media (max-width: 32em)
        display: none

        .docs--open &
          display: block

      @media (min-width: 50em)
        display: inline-block
        left: #{-2.425 * $baseline}
        top: #{.5 * $baseline}

        .scrolled:not(.docs--open) &
          left: 0
          top: 0

    strong, span
      position: relative
      transition: font-size .25s, left .25s, line-height .25s, margin-right .25s, top .25s
      will-change: font-size, left, line-height, margin-right, top

  .scrolled:not(.docs--open) &
    &-logo,
    &-links
      padding: #{.5 * $baseline} 0

    &-logo
      strong
        font-size: inherit
        line-height: inherit
        margin-right: 1ch
        top: 0

  @media (max-width: 50em)
    &-logo
      strong
        font-size: inherit
        line-height: inherit
        margin-right: 1ch
        top: 0

.nav--docs
  color: $color-white
  align-content: flex-start
  display: flex
  flex: 0 0 100%
  flex-wrap: wrap
  height: 0
  opacity: 0
  overflow: hidden
  padding: 0
  position: relative
  top: #{-1 * $baseline}
  transition: height .25s, opacity .25s, padding .25s, top .25s
  width: 100%
  will-change: height, opacity, padding, top

  > div
    flex: 0 0 100%

    @media (min-width: 32em)
      flex: 0 0 50%

    @media (min-width: 54em)
      flex: 0 0 25%

  ul
    list-style: none
    margin: 0 0 $baseline

  a
    color: $color-white
    padding: 0 !important

  .docs--open:not(.search--open) &
    height: calc(100vh - 15em)
    opacity: 1
    overflow: auto
    padding: 0 0 #{.5 * $baseline}
    top: 0

    @media (min-width: 32em)
      height: 18.75em
      overflow: hidden

    @media (min-width: 54em)
      height: 9.75em
      overflow: hidden

  &-search
    flex: 0 0 100%
    height: 0
    overflow: hidden
    transition: height .25s

    .docs--open &
      height: 6em

    @media (max-width: 32em)
      .docs--open:not(.search--open) &
        padding-top: $baseline

    input
      border: 0
      border-radius: .15em
      box-sizing: border-box
      display: inline-block
      font-size: 1em
      line-height: $baseline
      margin: 0 0 #{.5 * $baseline}
      padding: #{.5 * $baseline} $baseline
      width: 100%

    &-results
      color: $color-white
      flex: 0 0 100%
      height: 0
      margin: 0
      overflow: hidden
      transition: height .25s

      .search--open &
        height: calc(100vh - 12em)

      // h3
      //   margin: 0
