---
title: ZUnit Next
seq: 1
description: How to contribute by testing the next version of ZUnit
---

extends /layouts/_docs

block docs-content
  section
    :marked
      ZUnit is in constant development, and as such we need members of the community who are willing to use the most cutting-edge version of ZUnit's codebase and help us improve it with bug reports, suggestions and comments.

      ZUnit's [Github repository](https://github.com/zunit-zsh/zunit) will always contain a branch called `next`, which contains the code which will be included in the next official release of ZUnit. As well as this, documentation for the next release will always be live at [next.zunit.xyz](https://next.zunit.xyz).

      If you're interested in checking out ZUnit Next, take a look at the [installation instructions](https://next.zunit.xyz/docs/getting-started/installation) over on the ZUnit Next website.

  feature
