---
title: Reporting
description: Generate detailed text and HTML reports for your test runs with ZUnit
seq: 2
---

extends /layouts/_docs

block docs-content
  section
    :marked
      ZUnit is able to generate detailed reports for tests runs, which are enabled by passing options to ZUnit.

      To enable reporting, the output directory must be configured in `.zunit.yml`. See the [configuration docs](#{baseUrl}/docs/usage/configuring-zunit) for details.

  feature

  section
    :marked
      ### TAP Reports

      Passing `--output-text` will generate a [TAP](http://testanything.org) compatible text report in `tests/_output/output.txt`.

  feature.bump
    :marked
      ```bash
      zunit --output-text
      ```

  section
    :marked
      ### HTML Reports

      Passing `--output-html` will generate a rich HTML report in `tests/_output/output.html`.

  feature.bump
    :marked
      ```bash
      zunit --output-html
      ```
